<launch>
  <!-- Static map -->
  <node pkg="map_server" type="map_server" name="map_server"
        args="$(find my_nav)/maps/map.yaml"
        output="screen"/>

  <node pkg="my_nav" type="fake_localization.py" name="fake_localization" output="screen"/>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_static"
    args="0 0 0 0 0 0 1 odom base_link"/> -->

    <!-- args="0 0 0 0 0 0 map odom 100"/> -->

  <!-- Simple odometry publisher: publishes /odom and TF odom->base_link -->
  <node pkg="my_nav" type="odometry_publisher.py" name="odometry_publisher" output="screen" />

  <!-- move_base -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find my_nav)/params/costmap_common_params.yaml" command="load"
              ns="global_costmap"/>
    <rosparam file="$(find my_nav)/params/costmap_common_params.yaml" command="load"
              ns="local_costmap"/>
    <rosparam file="$(find my_nav)/params/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find my_nav)/params/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find my_nav)/params/dwa_local_planner_params.yaml" command="load"/>

    <!-- explicitly set which plugins to use -->
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner"  value="dwa_local_planner/DWAPlannerROS"/>
  </node>
  
  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find my_nav)/rviz/nav.rviz"/>


  <!-- <node pkg="my_nav" type="set_pose_and_get_path.py" name="set_pose_and_get_path" output="screen"/>
  <node pkg="my_nav" type="simulate_odometry.py" name="simulate_odometry" output="screen"/> -->

</launch>
